---
import '../styles/global.css';
import '@fontsource/jetbrains-mono';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-adikal-black text-gray-200 font-mono antialiased selection:bg-adikal-green selection:text-black">
		<div class="fixed inset-0 z-0 pointer-events-none bg-grid-pattern bg-grid opacity-[0.15]"></div>
		<div class="relative z-10">
			<slot />
		</div>
	</body>
</html>